<!DOCTYPE html>
<html>
<nav class="top-nav">
  <div class="nav-left">
    <%= link_to "OdinBook", root_path, class: "logo" %>
  </div>

  <div class="nav-right">
    <%= link_to "Discover", users_path, class: "nav-link" %>

    <% if user_signed_in? %>
      <%= link_to "Profile",
                  user_path(current_user),
                  class: "nav-link" %>

      <%= button_to "Log Out",
                    destroy_user_session_path,
                    method: :delete,
                    class: "nav-button logout-btn" %>
    <% else %>
      <%= link_to "Sign In",
                  new_user_session_path,
                  class: "nav-link" %>
    <% end %>
  </div>
</nav>
  <head>
    <title><%= content_for(:title) || "Odin Book" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Odin Book">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <div class="flash-notice"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="flash-alert"><%= alert %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
